[submodule "dex/lib/forge-std"]
	path = dex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dex/lib/openzeppelin-contracts"]
	path = dex/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
